@white-color: #fff;
@black-color: #000;
@gray-color: #f3f3f3;
@dark-gray-color: #15202b;
@green-color: #52c41a;
@red-color: #f5222d;
@yellow-color: #faad14;

#app-dark {
  color: @gray-color;
  background-color: @dark-gray-color;
  height: 100vh;
  width: 100vw;
}

#app-light {
  color: @dark-gray-color;
  background-color: @gray-color;
  height: 100vh;
  width: 100vw;
}

* {
  font-family: "Roboto", sans-serif;
}
